@import "./static/css/nav.css";
@import "./static/css/project.css";
@import "./static/css/issues.css";
@import "./static/css/home.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #d0d5df;
    background-color: #1f2831;
}

section {
    padding: 50px 0;
}

nav,
details {
    display: flex;
}

form {
    & * > * {
        margin-bottom: 10px;
    }
}

input,
button,
textarea,
a {
    padding: 5px 10px;
    border-radius: 5px;
}

input,
textarea {
    display: block;
}

button,
a {
    display: inline-block;
    background-color: #28313c;
    color: inherit;
    border: 1px solid #323b44;
    width: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

details {
    flex-direction: column;
    gap: 20px;

    & > * {
        margin-bottom: 10px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #272c36;
}

tr:hover {
    background-color: #272c36;
}

ul {
    list-style: none;
}

.container {
    border: 1px solid #3e434d;
    overflow: hidden;
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 20px;
}

.children-container {
    padding: 20px;
}

.section-title {
    padding: 10px 20px;
    background-color: #272c36;
    border-bottom: 1px solid #3e434d;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.muted {
    font-size: 10px;
    font-style: italic;
}

.hidden {
    display: none;
}

.filter {
    display: flex;
    gap: 10px;
}

.member-issues {
    display: flex;
}