[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi[standard]>=0.122.0",
    "pytest>=9.0.1",
    "ruff>=0.14.14",
    "sqlmodel>=0.0.27",
]

[tool.pyright]
venvPath = "."
venv = ".venv"
